*{
	padding:0;
	margin:0;
}
.container{
	height: 100vh;
	width: 100vw;
	background-color:black;
}
.box{
	background-color:white;
	height: 70vh;
	width: 30vw;
	position: relative;
	top:8%;
	left:35%;
	box-sizing: border-box;
	padding: 20px;
}
input{
	width: 20vw;
	margin-top: 4%;
	height: 5vh;
	margin-left: 3%;
}
#length{
	position: relative;
	bottom: 15px;
}

input[type="checkbox"]{
	height: 2.3vh;
	position: relative;
	right: 10vw;
}
label[for=uppercase],label[for="lowercase"],label[for="number"],label[for="symbols"],label[for="duplicate"]{
	position: relative;
	right: 18vw;
	bottom: 1vh;
}
button{
	position: relative;
	left:37%;
	top:4vh;
	width:7vw;
	height: 4vh;
	background-color: green;
	color: white;
	border:1px solid green;

}
button:hover{
	background-color:orange;
	border:1px solid orange;
}
